.home-page-background-wrapper{
    width: 100%;
    height: 100%;
}


.ellipse-1{
    position: absolute;
    top: -13rem;
    left: -7rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #8ECDC9;
    filter: blur(150px);
  }
  
  .ellipse-2{
    position: absolute;
    top: 35rem;
    left: -5rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #8ECDC9;
    filter: blur(200px);
  }
  
  .ellipse-3{
    position: absolute;
    top: 80rem;
    right: -5rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #8ECDC9;
    filter: blur(250px);
  }
  
  .ellipse-4{
    position: absolute;
    top: 110rem;
    left: -5rem;
    width: 450px;
    height: 700px;
    border-radius: 50%;
    background-color: #8ECDC9;
    filter: blur(250px);
  }
  
  .ellipse-5{
    position: absolute;
    top: 150rem;
    right: -5rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #A5027D;
    filter: blur(200px);
  }
  
  .ellipse-6{
    position: absolute;
    top: 200rem;
    left: -5rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #A5027D;
    filter: blur(200px);
  }
  
  .ellipse-7{
    position: absolute;
    top: 230rem;
    right: -5rem;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #8BD1D2;
    filter: blur(250px);
  }
  
  .ellipse-8{
    position: absolute;
    top: 270rem;
    right: -5rem;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #8BD1D2;
    filter: blur(250px);
  }
  
  .rectangle-1{
    position: absolute;
    top: 16rem;
    left: 12rem;
    width: 800px;
    height: 200px;
    transform: rotate(30deg);
    filter: blur(100px);
    background-color: #FF840026;
  }
  
  .rectangle-2{
    position: absolute;
    top: 60rem;
    left: 16rem;
    width: 800px;
    height: 200px;
    background-color: #FF840026;
    transform: rotate(210deg);
    filter: blur(100px);
  }
  
  .circle1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 82rem;
    left: 19rem;
    border-radius: 50%;
    background-color: #FF8400;
    filter: blur(50px);
  }
  
  .circle2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 78rem;
    left: 75rem;
    border-radius: 50%;
    background-color: #FF8400;
    filter: blur(30px);
  }
  
  .circle3{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 55rem;
    left: 45rem;
    border-radius: 50%;
    background-color: #FF8400;
    filter: blur(30px);
  }
  
  .circle4{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 125rem;
    left: 30rem;
    border-radius: 50%;
    background-color: #A60279;
    filter: blur(30px);
  }
  
  .circle5{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 111rem;
    left: 45rem;
    border-radius: 50%;
    background-color: #EE7F02;
    filter: blur(40px);
  }
  
  .circle6{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 125rem;
    left: 63rem;
    border-radius: 50%;
    background-color: #0098A1;
    filter: blur(30px);
  }