.home-wrapper {
    width: 100%;
    padding-top: 5rem;
}


@media (max-width: 480px) {
        /* .hero-section-wrap {
            margin-top: 3rem;


 
    } */
.home-wrapper {
    width: 100%;
    padding-top: 4rem;
}


}
