.primary-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: nowrap;
    background-color: #7F3FFF;
    padding: 7px 20px;
    font-size: 0.9rem;
    color: white;
    border-radius: 25px;
    border: none;
    outline: none;
}

@media (min-width:768px) {
    .primary-btn{
        font-size: 16px;
        padding: 10px 25px;
    }
}